:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin-top: 66px;
  margin-bottom: 20px;
  font-family: "Roboto Slab", serif;
}
h1,
h2,
h3 {
  margin: 0;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
}
p {
  font-size: 18px;
  line-height: 1.5;
}
.main {
  max-width: 100%;
}
.logo {
  max-width: 40px;
}
.navigation-links a {
  margin: 20px;
}
.first-section {
  background-color: #f8f9fa;
  padding: 100px 0;
}
.projects-title {
  text-align: center;
  font-size: 70px;
  margin: 80px 0;
}
.projects-text {
  padding-top: 90px;
}
.about {
  margin-top: 100px;
  padding: 16px;
}
.about-text {
  text-align: left;
  padding-top: 80px;
}
.about-title {
  font-size: 64px;
}
.my-photo {
  max-width: 100%;
}
.about-paragraphs p {
  margin: 10px;
  margin-left: 0;
}
.projects-link {
  margin: 40px 0;
  padding: 80px 0;
  background-color: #f8f9fa;
}
.projects-link a {
  text-transform: uppercase;
}
.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 15px;
}
.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 15px;
}
.about-paragraphs {
  margin: 30px 0;
}
.email {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 28px;
}
.email:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  .email {
    font-size: 18px;
  }
}
@media (max-width: 990px) {
  .about-title {
    font-size: 58px;
  }
  .about-text {
    padding-top: 0;
  }
  .projects-text {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
